.container {
  padding: 20px;
  text-align: center;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.animate {
  animation: rotate 4s linear infinite;
}

.animate:hover {
  animation-play-state: paused;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 50%; /* Adjust the aspect ratio as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  transition: transform 0.3s ease;
}
.image3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image covers the entire container */
  transition: transform 0.3s ease;
}

.image2,
image3:hover {
  transform: scale(1.05);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
