.container {
  padding: 20px;
  text-align: center;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.animate {
  animation: rotate 4s linear infinite;
}

.animate:hover {
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
